*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #FFF;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 135px;
  margin: 0 auto;
}

footer {
  background-color: #F8F8F8;
}

@media screen and (max-width: 767.98px) {
  .container {
    padding: 0 20px;
  }
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.topbar-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #232323;
  letter-spacing: 0.07px;
}
.topbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.topbar-signup {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.07px;
  padding: 13px 15px;
  border-radius: 12px;
  background: linear-gradient(180deg, #272727 0%, #171717 46.01%, #101010 100%);
}
.topbar-cart {
  transform: translateY(15%);
}

@media screen and (max-width: 767.98px) {
  .topbar-menu {
    display: none;
  }
}
.content {
  padding-top: 52px;
  display: flex;
  align-items: center;
  gap: 95px;
}
.content-title {
  margin-top: 16px;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.2096774194;
  color: #101010;
}
.content-text {
  margin-top: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #646464;
  letter-spacing: -0.18px;
}
.content-image {
  max-width: 128%;
}
.content-form {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  background: linear-gradient(92deg, #3FDA7D 48.17%, #00BE4C 100%);
  box-shadow: 0px 10px 20px -10px rgba(234, 234, 234, 0.4);
  border-radius: 0 16px 16px 0;
  padding: 3px;
}
.content-input {
  all: unset;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.075px;
  color: #B1B1B1;
  padding: 24px;
  border: 1px solid #3FDA7D;
  border-radius: 15px 0px 0px 15px;
}
.content-discover {
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  padding-left: 22px;
}
.content-img {
  transform: translateY(15%);
}
.content-signin {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6666666667;
  color: #838383;
  margin-top: 51px;
}
.content-signin span {
  color: #FF4D20;
  font-weight: 600;
}

@media screen and (max-width: 767.98px) {
  .content-right {
    display: none;
  }
  .content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-title {
    font-size: 50px;
    text-align: center;
  }
}
.food {
  margin-top: 113px;
}
.food-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.food-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1764705882;
  letter-spacing: -0.34px;
  color: #101010;
}
.food-order {
  margin-top: 84px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 32px;
}
.food-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #F6F6F6;
  border-radius: 24px;
  width: 240px;
  height: 130px;
  padding-right: 16px;
}
.food-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 30px;
  max-width: 106px;
}
.food-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.24px;
  color: #171717;
}
.food-starting {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3888888889;
  color: #969696;
}
.food-price {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3888888889;
  color: #FF4415;
}
.food-dish {
  transform: translateX(-15%);
}

@media screen and (max-width: 767.98px) {
  .food {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .food-order {
    grid-template-columns: 1fr;
  }
}
.order {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: #101010;
  text-align: center;
  max-width: 432px;
  margin-top: 8px;
}
.order-list {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 100px;
}
.order-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-header {
  margin-top: 40px;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.9230769231;
  letter-spacing: -0.13px;
  color: #171717;
}
.order-text {
  margin-top: 24px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: -0.16px;
  color: #646464;
  text-align: center;
}
.order-icon {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 767.98px) {
  .order-list {
    grid-template-columns: 1fr;
  }
  .order-text {
    max-width: 300px;
  }
}
.menu {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: #101010;
  text-align: center;
  max-width: 590px;
  margin-top: 8px;
}
.menu-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
}
.menu-item {
  border-radius: 24px;
  border: 1.2px solid #EFEFEF;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.menu-item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-4px);
}
.menu-dish {
  height: 190px;
}
.menu-info {
  margin-top: 8px;
  padding-left: 28px;
  padding-bottom: 10px;
}
.menu-header {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #181818;
}
.menu-text {
  font-size: 16px;
  margin-top: 12px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.16px;
  color: #787878;
  max-width: 287px;
}
.menu-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  display: flex;
  align-items: center;
}
.menu-price {
  font-size: 20px;
  font-weight: 500;
  color: #060606;
}
.menu-share {
  transform: translateX(-10px);
}
.menu-button {
  margin-top: 55px;
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: #46C266;
  box-shadow: 0px 10px 20px -10px rgba(58, 186, 90, 0.16);
  border-radius: 16px;
  padding-left: 22px;
  cursor: pointer;
}
.menu-see {
  font-weight: 500;
  color: #fff;
}
.menu-arrow {
  transform: translateY(10px);
}

@media screen and (max-width: 767.98px) {
  .menu-list {
    grid-template-columns: 1fr;
  }
}
.find {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.1923076923;
  color: #101010;
  text-align: center;
  max-width: 590px;
  margin-top: 8px;
}
.find-bottom {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.find-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 69px;
}
.find-review {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.32px;
  color: #101010;
}
.find-enter {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.075px;
  color: #C0C0C0;
}
.find-list {
  margin-top: 80px;
}
.find-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1.2px solid #f0f0f0;
}
.find-item:last-child {
  margin-top: 53px;
}
.find-depature {
  font-size: 14px;
  font-weight: 600;
  line-height: 2.1428571429;
  letter-spacing: 2.8px;
  color: #36BD59;
}
.find-pickup {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4285714286;
  letter-spacing: -0.28px;
  color: #C7C7C7;
}
.find-address {
  margin-top: 33px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.075px;
  color: #101010;
  padding-bottom: 19px;
}
.find-right {
  padding-bottom: 17px;
}

@media screen and (max-width: 767.98px) {
  .find-bottom {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.blog {
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-title {
  margin-top: 8px;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.1923076923;
  text-align: center;
  max-width: 590px;
  color: #101010;
}
.blog-text {
  margin-top: 18px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: -0.16px;
  text-align: center;
  max-width: 452px;
  color: #646464;
}
.blog-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 33px;
}
.blog-item {
  box-shadow: 0px 25px 120px -30px rgba(0, 0, 0, 0.08);
}
.blog-info {
  padding: 30px;
}
.blog-name {
  font-size: 28px;
  font-weight: 700;
  line-height: 0.7857142857;
  color: #1B1B1B;
}
.blog-content {
  margin-top: 14px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.08px;
  color: #939393;
  max-width: 270px;
}
.blog-button {
  margin-top: 24px;
  display: flex;
  align-items: center;
  background-color: #46C266;
  box-shadow: 0px 10px 20px -10px rgba(59, 189, 93, 0.16);
  border-radius: 14px 16px 16px 16px;
  width: fit-content;
  padding-left: 20px;
}
.blog-arrow {
  transform: translateY(10px);
}
.blog-apply {
  font-weight: 600;
  color: #fff;
}

.red {
  background-color: #FF6741;
}

.yellow {
  background-color: #FFBC2D;
}

@media screen and (max-width: 767.98px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}
.app {
  margin-top: 250px;
  display: flex;
  align-items: center;
  gap: 188px;
}
.app-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1764705882;
  letter-spacing: -0.34px;
  color: #101010;
}
.app-text {
  margin-top: 22px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: -0.16px;
  color: #646464;
  max-width: 349px;
}
.app-store {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 22px;
}
.app-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 23px;
  border-radius: 18.182px;
  border: 1.091px solid #DBDBDB;
}
.app-content {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  color: #000;
  line-height: 1.0365714286;
}
.app-phone {
  padding-left: 100px;
}

.sub-img {
  margin-top: 120px;
}

@media screen and (max-width: 767.98px) {
  .app {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-phone {
    display: none;
  }
}
.popular {
  padding-left: 20px;
}
.popular-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.1764705882;
  letter-spacing: -0.34px;
  color: #101010;
}
.popular-column {
  margin-top: 42px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 99px;
}
.popular-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.popular-link {
  font-size: 18px;
  font-weight: 400;
  color: #666;
}

@media screen and (max-width: 767.98px) {
  .popular-column {
    grid-template-columns: 1fr 1fr;
  }
}
.footer {
  margin-top: 100px;
  padding-top: 62px;
}
.footer-top {
  display: flex;
  align-items: center;
  gap: 134px;
  padding-bottom: 60px;
  border-bottom: 1px solid #E6E6E6;
}
.footer-all {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 112px;
}
.footer-text {
  margin-top: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #767676;
  letter-spacing: -0.16px;
  max-width: 274px;
}
.footer-social {
  margin-top: 40px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-title {
  font-size: 18px;
  font-weight: 500;
  color: #030000;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
  color: #666;
}
.footer-bottom {
  margin-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.13px;
  color: #666;
}
.footer-create {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.13px;
  color: #666;
}
.footer-create span {
  font-weight: 500;
  color: #3E3E3E;
}

@media screen and (max-width: 767.98px) {
  .footer-all {
    grid-template-columns: 1fr 1fr;
  }
  .footer-top {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=app.css.map */
