svg(width="40", height="40", viewBox="0 0 40 40", fill="none", xmlns="http://www.w3.org/2000/svg")
  rect(width="40", height="40", rx="10.9091", fill="#030000")
  path(d="M21.4935 22.6865H8.95621C7.96704 22.6865 7.16516 23.4884 7.16516 24.4776C7.16516 25.4667 7.96704 26.2686 8.95621 26.2686H23.2846L21.4935 22.6865Z", fill="#FAF8FF")
  path(d="M9.85149 27.8626L9.25447 28.8967C8.75989 29.7533 9.05339 30.8487 9.91004 31.3433C10.7667 31.8379 11.8621 31.5444 12.3567 30.6877L13.9877 27.8626L9.85149 27.8626Z", fill="#FAF8FF")
  path(d="M15.8968 24.5393L23.9988 10.5062C24.4934 9.64953 24.1999 8.55414 23.3433 8.05956C22.4866 7.56497 21.3912 7.85848 20.8966 8.71512L11.6699 24.6963L15.8968 24.5393Z", fill="#FAF8FF")
  path(d="M23.3317 14.8635L31.4337 28.8967C31.9283 29.7533 31.6348 30.8487 30.7781 31.3433C29.9215 31.8379 28.8261 31.5444 28.3315 30.6877L22.4709 20.5368C22.0546 19.8158 21.9672 18.9509 22.2309 18.1611L23.3317 14.8635Z", fill="#FAF8FF")
  path(d="M26.2695 22.6865H31.6427C32.6318 22.6865 33.4337 23.4884 33.4337 24.4776C33.4337 25.4667 32.6318 26.2686 31.6427 26.2686H26.2695V22.6865Z", fill="#FAF8FF")
  path(d="M22.2078 13.3687L19.5212 8.71538C19.0266 7.85874 17.9312 7.56523 17.0746 8.05981C16.2179 8.5544 15.9244 9.64978 16.419 10.5064L19.1056 15.1597L22.2078 13.3687Z", fill="#FAF8FF")