svg(width="78", height="49", viewBox="0 0 78 49", fill="none", xmlns="http://www.w3.org/2000/svg")
  g(filter="url(#filter0_d_108_737)")
    rect(x="39", y="6", width="29", height="29", rx="14.5", fill="#151515")
  path(d="M51 16.0001L55.5 20.7501L51 25.5001", stroke="white", stroke-width="2")
  rect(width="29", height="29", rx="14.5", transform="matrix(-1 0 0 1 29 6)", fill="white")
  path(d="M17 16.0001L12.5 20.7501L17 25.5001", stroke="#C4C4C4", stroke-width="2")
  defs
    filter#filter0_d_108_737(x="29", y="0", width="49", height="49", filterUnits="userSpaceOnUse", color-interpolation-filters="sRGB")
      feFlood(flood-opacity="0", result="BackgroundImageFix")
      feColorMatrix(in="SourceAlpha", type="matrix", values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0", result="hardAlpha")
      feOffset(dy="4")
      feGaussianBlur(stdDeviation="5")
      feColorMatrix(type="matrix", values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0")
      feBlend(mode="normal", in2="BackgroundImageFix", result="effect1_dropShadow_108_737")
      feBlend(mode="normal", in="SourceGraphic", in2="effect1_dropShadow_108_737", result="shape")