svg(width="20", height="20", viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_108_327)")
    path(d="M9.99998 6.66658C8.15831 6.66658 6.66665 8.15825 6.66665 9.99992C6.66665 11.8416 8.15831 13.3333 9.99998 13.3333C11.8416 13.3333 13.3333 11.8416 13.3333 9.99992C13.3333 8.15825 11.8416 6.66658 9.99998 6.66658ZM17.45 9.16658C17.0666 5.69158 14.3083 2.93325 10.8333 2.54992V0.833252H9.16665V2.54992C5.69165 2.93325 2.93331 5.69158 2.54998 9.16658H0.833313V10.8333H2.54998C2.93331 14.3083 5.69165 17.0666 9.16665 17.4499V19.1666H10.8333V17.4499C14.3083 17.0666 17.0666 14.3083 17.45 10.8333H19.1666V9.16658H17.45ZM9.99998 15.8333C6.77915 15.8333 4.16665 13.2208 4.16665 9.99992C4.16665 6.77908 6.77915 4.16658 9.99998 4.16658C13.2208 4.16658 15.8333 6.77908 15.8333 9.99992C15.8333 13.2208 13.2208 15.8333 9.99998 15.8333Z", fill="#FF4415")
  defs
    clipPath#clip0_108_327
      rect(width="20", height="20", fill="white")