svg(width="40", height="40", viewBox="0 0 40 40", fill="none", xmlns="http://www.w3.org/2000/svg")
  path(d="M34.2787 22.5889C36.1164 21.3521 36.1164 18.6479 34.2787 17.4111L9.20583 0.536977C7.13298 -0.858059 4.34296 0.627282 4.34296 3.12584V36.8742C4.34296 39.3727 7.13298 40.8581 9.20583 39.463L34.2787 22.5889Z", fill="#030000")
  path(d="M15.3488 32.5299L33.5197 19.7017L26.6097 14.9839L15.3488 32.5299Z", fill="#FBF9FF")
  path(d="M24.3063 13.4112L15.6047 7.47021L21.4911 17.6134L24.3063 13.4112Z", fill="#FBF9FF")