svg(width="52", height="52", viewBox="0 0 52 52", fill="none", xmlns="http://www.w3.org/2000/svg")
  g(filter="url(#filter0_d_108_370)")
    rect(x="10", y="6", width="32", height="32", rx="8", fill="#171717")
  path(d="M30.5 25.0638C29.93 25.0638 29.4163 25.2851 29.0262 25.6413L23.6825 22.5251C23.7238 22.3563 23.75 22.1801 23.75 22.0001C23.75 21.8201 23.7238 21.6438 23.6825 21.4751L28.97 18.3888C29.3713 18.7638 29.9075 18.9963 30.5 18.9963C31.7413 18.9963 32.75 17.9876 32.75 16.7463C32.75 15.5051 31.7413 14.4963 30.5 14.4963C29.2587 14.4963 28.25 15.5051 28.25 16.7463C28.25 16.9263 28.2762 17.1026 28.3175 17.2713L23.03 20.3576C22.6287 19.9826 22.0925 19.7501 21.5 19.7501C20.2587 19.7501 19.25 20.7588 19.25 22.0001C19.25 23.2413 20.2587 24.2501 21.5 24.2501C22.0925 24.2501 22.6287 24.0176 23.03 23.6426L28.3737 26.7588C28.3363 26.9163 28.3138 27.0813 28.3138 27.2501C28.3138 28.4576 29.2925 29.4363 30.5 29.4363C31.7075 29.4363 32.6863 28.4576 32.6863 27.2501C32.6863 26.0426 31.7075 25.0638 30.5 25.0638Z", fill="white")
  defs
    filter#filter0_d_108_370(x="0", y="0", width="52", height="52", filterUnits="userSpaceOnUse", color-interpolation-filters="sRGB")
      feFlood(flood-opacity="0", result="BackgroundImageFix")
      feColorMatrix(in="SourceAlpha", type="matrix", values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0", result="hardAlpha")
      feOffset(dy="4")
      feGaussianBlur(stdDeviation="5")
      feColorMatrix(type="matrix", values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.05 0")
      feBlend(mode="normal", in2="BackgroundImageFix", result="effect1_dropShadow_108_370")
      feBlend(mode="normal", in="SourceGraphic", in2="effect1_dropShadow_108_370", result="shape")