.app 
    .app-phone 
        img.app-img(srcSet="./images/phone.png 2x", alt="")
    .app-download
        h3.app-title Have you got our App?
        p.app-text Best cooks and best delivery guys all at your service. Hot tasty food
        .app-store 
            .app-item 
                include ../../_icons/_appstore.pug 
                span.app-content App Store
            .app-item 
                include ../../_icons/_playstore.pug 
                span.app-content Play Store
img.sub-img(srcSet="./images/advertise.png 2x", alt="")