.blog 
    .blog-top 
        img.blog-newar(srcSet="./images/newar.png 2x", alt="")
        h3.blog-title Our regular updated new blogs.
        p.blog-text Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 20mins.
    .blog-bottom
        .blog-list 
            .blog-item 
                .blog-img 
                    img.blog-rider(srcSet="./images/rider.png 2x", alt="")
                .blog-info
                    h4.blog-name Riders
                    p.blog-content We store the vast majority of the digital assets in secure ..
                    .blog-button 
                        span.blog-apply Apply Now
                        img.blog-arrow(srcSet="./images/Arrow-right.png 2x", alt="")
            .blog-item 
                .blog-img 
                    img.blog-rider(srcSet="./images/restaurant.png 2x", alt="")
                .blog-info
                    h4.blog-name Restaurants
                    p.blog-content We store the vast majority of the digital assets in secure ..
                    .blog-button.red
                        span.blog-apply Apply Now
                        img.blog-arrow(srcSet="./images/arrow-red.png 2x", alt="")
            .blog-item 
                .blog-img 
                    img.blog-rider(srcSet="./images/community.png 2x", alt="")
                .blog-info
                    h4.blog-name Riders
                    p.blog-content We store the vast majority of the digital assets in secure ..
                    .blog-button.yellow
                        span.blog-apply Apply Now
                        img.blog-arrow(srcSet="./images/arrow-yellow.png 2x", alt="")