.content 
    .content-left 
        img(srcSet="./images/Hungry.png 2x", alt="hungry")
        h3.content-title Wait a minute for delicious.
        p.content-text Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 20mins.
        form.content-form(action="#")
            input(type="text", placeholder="Enter your delivery location").content-input
            .content-button 
                span.content-discover Discover
                img.content-img(srcSet="./images/Arrow-right.png 2x", alt="arrow")
        p.content-signin Already member of our communty?
            span   Sign in
    .content-right 
        img(srcSet="./images/Content.png 2x", alt="").content-image