.find 
    .find-top
        img(srcSet="./images/newar.png 2x", alt="")
        h3.find-title Find us near your citys.
    .find-bottom
        .find-point 
            .find-head
                .find-res 
                    h3.find-review Pickup restaurent point
                    p.find-enter Enter your delivery location
                .find-wait 
                    img.find-time(srcSet="./images/time.png 2x", alt="time")
            .find-list
                .find-item 
                    .find-left
                        span.find-depature DEPATURE
                        h3.find-pickup Pickup restaurent point
                        p.find-address 427  Edington Drive 
                    .find-right 
                        include ../../_icons/_gps.pug
                .find-item 
                    .find-left
                        span.find-depature DEPATURE
                        h3.find-pickup Pickup restaurent point
                        p.find-address 427  Edington Drive 
                    .find-right 
                        include ../../_icons/_gps.pug
        .find-map
        img.find-city(srcSet="./images/map.png 2x", alt="")