.footer 
    .footer-top 
        .footer-service 
            img.footer-logo(srcSet="./images/Logo.png 2x", alt="")
            p.footer-text Retail food delivery is a courier service in which a restaurant, store, or independent food-delivery
            img.footer-social(srcSet="./images/social.png 2x", alt="social")
        .footer-all
            .footer-column 
                h3.footer-title Company
                ul.footer-list 
                    li.footer-item 
                        a.footer-link About
                    li.footer-item 
                        a.footer-link Terms of Use
                    li.footer-item 
                        a.footer-link Privacy Policy
                    li.footer-item 
                        a.footer-link How it Works
                    li.footer-item 
                        a.footer-link Cotact Us
            .footer-column 
                h3.footer-title Get Help
                ul.footer-list 
                    li.footer-item 
                        a.footer-link Support Carrer
                    li.footer-item 
                        a.footer-link 24h Service
                    li.footer-item 
                        a.footer-link Quick Chat
            .footer-column 
                h3.footer-title Support
                ul.footer-list 
                    li.footer-item 
                        a.footer-link FAQ
                    li.footer-item 
                        a.footer-link Policy
                    li.footer-item 
                        a.footer-link Business
            .footer-column 
                h3.footer-title Contact
                ul.footer-list 
                    li.footer-item 
                        a.footer-link WhatsApp
                    li.footer-item 
                        a.footer-link Support 24
    .footer-bottom
        p.footer-copyright Copyright © 2021 Besnik.com
        p.footer-create Created by
            span  Besnik