.menu 
    img.menu-popular(srcSet="./images/popular.png 2x", alt="")
    h3.menu-title Wait a minute for delicious.
    .menu-list 
        .menu-item 
            img.menu-dish(srcSet="./images/pizza2.png 2x", alt="")
            .menu-info
                img.menu-review(srcSet="./images/Review.png 2x", alt="")
                h4.menu-header New York-Style pizza
                p.menu-text Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
                .menu-status 
                    span.menu-price $7.10
                    .menu-icon 
                        .menu-love 
                            include ../../_icons/_love.pug 
                        .menu-share 
                            include ../../_icons/_share.pug
        .menu-item 
            img.menu-dish(srcSet="./images/pho.png 2x", alt="")
            .menu-info
                img.menu-review(srcSet="./images/Review.png 2x", alt="")
                h4.menu-header New York-Style pizza
                p.menu-text Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
                .menu-status 
                    span.menu-price $7.10
                    .menu-icon 
                        .menu-love 
                            include ../../_icons/_love.pug 
                        .menu-share 
                            include ../../_icons/_share.pug
        .menu-item 
            img.menu-dish(srcSet="./images/hamber.png 2x", alt="")
            .menu-info
                img.menu-review(srcSet="./images/Review.png 2x", alt="")
                h4.menu-header New York-Style pizza
                p.menu-text Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
                .menu-status 
                    span.menu-price $7.10
                    .menu-icon 
                        .menu-love 
                            include ../../_icons/_love.pug 
                        .menu-share 
                            include ../../_icons/_share.pug
        .menu-item 
            img.menu-dish(srcSet="./images/rice-chicken.png 2x", alt="")
            .menu-info
                img.menu-review(srcSet="./images/Review.png 2x", alt="")
                h4.menu-header New York-Style pizza
                p.menu-text Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
                .menu-status 
                    span.menu-price $7.10
                    .menu-icon 
                        .menu-love 
                            include ../../_icons/_love.pug 
                        .menu-share 
                            include ../../_icons/_share.pug
        .menu-item 
            img.menu-dish(srcSet="./images/chicken-plus.png 2x", alt="")
            .menu-info
                img.menu-review(srcSet="./images/Review.png 2x", alt="")
                h4.menu-header New York-Style pizza
                p.menu-text Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
                .menu-status 
                    span.menu-price $7.10
                    .menu-icon 
                        .menu-love 
                            include ../../_icons/_love.pug 
                        .menu-share 
                            include ../../_icons/_share.pug
        .menu-item 
            img.menu-dish(srcSet="./images/fish.png 2x", alt="")
            .menu-info
                img.menu-review(srcSet="./images/Review.png 2x", alt="")
                h4.menu-header New York-Style pizza
                p.menu-text Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.
                .menu-status 
                    span.menu-price $7.10
                    .menu-icon 
                        .menu-love 
                            include ../../_icons/_love.pug 
                        .menu-share 
                            include ../../_icons/_share.pug
    .menu-button 
        a.menu-see See All Menu
        img.menu-arrow(srcSet="./images/Arrow-right.png 2x", alt="")
