.order 
    img.order-hungry(srcSet="./images/Hungry.png 2x", alt="")
    h3.order-title Wait a minute for delicious.
    .order-list 
        .order-item 
            .order-icon
                include ../../_icons/_task.pug 
            h4.order-header Easy to order
            p.order-text n restaurant-controlled online food ordering, the restaurant ..
        .order-item 
            .order-icon
                include ../../_icons/_map.pug 
            h4.order-header Live Order
            p.order-text In addition to paying for the food, customers will often have to pay ..
        .order-item 
            .order-icon
                include ../../_icons/_pizza.pug 
            h4.order-header Best Quality
            p.order-text Grocery delivery companies will deliver groceries, pre-prep ..
    img.order-ads(srcSet="./images/advertise.png 2x", alt="")
