.topbar 
    img.topbar-logo(srcSet="./images/Logo.png 2x", alt="logo")
    ul.topbar-menu 
        li.topbar-list 
            a.topbar-link(href="#") Home
        li.topbar-list 
            a.topbar-link(href="#") Review
        li.topbar-list 
            a.topbar-link(href="#") About Us
        li.topbar-list 
            a.topbar-link(href="#") Contact Us
    .topbar-right
        a.topbar-signup(href="#") Sign Up
        img(srcSet="./images/Cart.png 2x", alt="cart").topbar-cart